/*Varibles*/
:root{
    /*COLORS*/
    --BG_COLOR: rgb(172, 172, 237);
    --BORDER_COLOR: rgb(98, 98, 125);
    --TEXT_COLOR:rgb(22, 21, 21);
    
    /*SIZES*/
    --BORDER_RADIUS: 0.25rem;

    /*GENERAl*/
    --BORDER: 3px solid var(--BORDER_COLOR);
}

/*page elements*/
h1, h2{
    text-align: center;
}
.app{
    width: 100%;
    min-height: 100dvh;
}

.app header{
    width: 100%;
    height: 17rem;
    color: var(--TEXT_COLOR);
    border: var(--BORDER);
    border-radius: var(--BORDER_RADIUS);
}

.app aside{
    border: 3px solid var(--BORDER_COLOR);
    height: fit-content;
}

  /*end page elements*/
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
    .app{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto auto 5%;
    }
    .parent-container{
        display: flex;
        flex-direction: row;
    }
    .app header{
        grid-column: 2 / 6;
        grid-row: 1;
    }
    .app aside{
        grid-column: 1;
        grid-row: 1;
    }
    .app main{
        grid-column: 2 / 6;
        grid-row: 2;
    }
    .app footer{
        grid-column: 1 / 6;
        grid-row: 3;
    }
}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {
    
}
@media screen and (max-height: 425px) and (min-aspect-ratio:7/4) {
    
}

.caption{
    text-align: center;
    color: var(--TEXT_COLOR);
    font-size: large;
    padding: 1rem;
    border: var(--BORDER);
}
.images .figure{
    width: 100%;
    padding: 7%;
}
.images .figure img{
    width: 100%;
    height: auto;
    border: var(--BORDER);
}
.figure img .scale:hover{
    transform: scale(120%,120%);
    transition: all ease 2s 0.2s;
}
