*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--TEXT_COLOR);
  width: 100%;
  line-height: 1.5;
  height: 100vh;
  background-image: radial-gradient(var(--BG_COLOR),white);
  padding: 1.5rem;
}